div{
    text-align: center;
}

@counter-style edu-emoji {
    system: cyclic;
    symbols: "🎓" "📜" "📜" "📜" "🎓";
    suffix: " ";
}

@counter-style hobb-emoji {
    system: cyclic;
    symbols: "🌱" "🐟" "🎮" "📈";
    suffix: " ";
}

#edu, #hobb {
    display: inline-block;
    text-align: left;
    list-style-type: edu-emoji;
}

#hobb {
    display: inline-block;
    text-align: left;
    list-style-type: hobb-emoji;
}
