#edu {
	list-style-type: edu-emoji;
}
#hobb {
	list-style-type: hobb-emoji;
}
#work {
	list-style-type: work-emoji;
}
.self_circle {
	border-radius: 70%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 300px;
}
.self_img {
	display: inline;
	height: 90%;
	margin: 0 auto;
	margin-left: 0%;
	width: auto;
}
@counter-style edu-emoji {
	suffix: " ";
	symbols: "🎓" "📜" "📜" "📜" "🎓";
	system: cyclic;
}
@counter-style hobb-emoji {
	suffix: " ";
	symbols: "🌱" "🐟" "🎮" "📈" "📚";
	system: cyclic;
}
@counter-style work-emoji {
	suffix: " ";
	symbols: "🌐" "📝" "🛠️";
	system: cyclic;
}
a {
	text-decoration-color: blue;
	text-decoration-thickness: 2px;
}
a:visited {
	text-decoration-color: purple;
}
body {
	background-color: #E8ECEE;
}
div {
	text-align: center;
}
h1, h2, h3 {
	color: black;
}
hr {
	background-color: none;
	border-color: lightgrey;
	border-style: dotted none none none;
	border-width: 5px;
	width: 5%;
}
input {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
label {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
table {
	border-spacing: 3px;
	margin-left: auto;
	margin-right: auto;
}
td {
	padding: 3px;
}
textarea {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
ul, ol {
	display: inline-block;
	text-align: left;
}