body {
    background-color: aliceblue;
}

h1 {
    color: red;
    font-size: 100px;
    text-align: center;
}

p {
    text-align: center;
}

#bacon:hover {
    background-color: darkorange;
}

#sloth:hover {
    background-color:greenyellow
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}



#bacon {
    background-color:crimson;
}

#sloth {
    background-color: lightgreen;
    border-radius: 100%;
}

.heading {
    color:crimson;
}