@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat&family=Open+Sans&display=swap');

body {
margin: 0;
text-align: center;
padding-top: 100px;
font-family: "Open Sans", sans-serif;
}

#name {
    margin-top: 0px;
    font-family: 'Merienda', cursive;
}

#job {
    font-family: "Montserrat", sans-serif;
}


.topCont {
    background-color: #87CEFA;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding-top: 100px;
    margin-top: -100px;
}

.midCont {

 
}

.botCont {

}

.pro {
    text-decoration: underline;
}

.cloud-top {
    position: absolute;
    right: 30%;
    top: 5%;
}

.cloud-bot {
    position: absolute;
}

#self-img {
    height: 8%;
    width: 8%;
}