@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Montserrat&family=Open+Sans&display=swap');

body {
margin: 0;
text-align: center;
padding-top: 100px;
font-family: "Open Sans", sans-serif;
font-size: 1.2em;
color: #40514E;
}

hr {
    margin: 3em auto 4em auto;
    color: #becfcf;
    border-style: none none dotted none;
    border-width: 8px;
    width: 5%;
}

h1{
    color: #66BFBF;
    font-size: 2.5rem;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

h3, a {
    color: #11999E;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}

.footer-link {
    padding: 1em;
}

#name {
    font-size: 5.6rem;
    margin-top: 50px auto 0px auto;
    font-family: 'Klee One', cursive;
    margin-block-end: 0;
}

#job {
margin-block-end: 0;
}


.topCont {
    background-color: #E4F9F5;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding-top: 100px;
    margin-top: -100px;
}

.midCont {
background-color:#EAF6F6;
 
}

.botCont {
    padding-top: 50px;
    background-color: #66BFBF;
}

.pro {
    text-decoration: underline;
}

.cloud-top {
    position: absolute;
    right: 30%;
    top: 5%;
}

.cloud-bot {
    position: absolute;
    right: 70%;
    top:32%;
}

#self-img{
    margin-top: 3em;
    width: 14%;
}

#comp {
    width: 25%;
    float: left;
    margin-right: 30px;
}

#java-img {
    width: 25%;
    float: right;
    margin-right: 30px;
}


.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

#copyright {
    margin: 0;
}

.footer-text {
    padding: 1em;
    color: #EAF6F6;
}

.Contact_btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 21px;
    font-weight: 400;
    padding: 15px;
    background-color: #66BFBF;
    -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
    -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
    box-shadow: 1px 1px 20px 0 #FFFFFF;
    text-shadow: 1px 1px 3px #FFFFFF;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 margin: 34px auto 50px auto;
 }
 
 .Contact_btn:hover {
    border: solid #337FED 1px;
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
    background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
    background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
    background-image: -o-linear-gradient(top, #11999E, #66BFBF);
    background-image: -webkit-gradient(to bottom, #11999E, #66BFBF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }